<style>
  .submit {
    cursor: pointer;
    margin-top: 15px;
  }

  .textarea-links {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

  .textarea {
    width: 25%;
  }

  .file-input {
    margin: 15px 0 5px 0;
  }
</style>

<div style="text-align: center">
  <h1>Welcome to the homepage</h1>
  <p>This project is based on the Sails.js framework.</p>
</div>
<a href="/api/users">View users</a>
<div>
  <p>Create a user</p>
  <form action="/api/users" method="post">
    <input type="text" name="firstname" placeholder="Firstname" id="">
    <input type="text" name="lastname" placeholder="Lastname" id="">
    <input type="email" name="email" placeholder="Email" id="">
    <input type="tel" name="phone" placeholder="Phone number" id="">
    <input type="text" name="city" placeholder="Location: city" id="">
    <input type="text" name="address" placeholder="Location: address" id="">
    <br>
    <div class="textarea-links">
      <label for="links-area">Social network links (separate with line breaks)</label>
      <textarea id="links-area" name="links" cols="30" rows="10" class="textarea">
      </textarea>
    </div>
    <input class="submit" type="submit" value="Submit">
  </form>
  <form class="file-input" action="/api/file" method="post" enctype="multipart/form-data">
    <input type="file" name="video" id="">
    <input type="submit" value="Submit file">
  </form>
</div>